@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: "Feather Bold";
    src: url("/Feather_Bold.ttf") format("truetype");
    font-style: normal;
}